   body {
            font-family: Arial, sans-serif;
            max-width: 600px;
            margin: 10px;
            padding: 15px;
        }
        blockquote {
            max-width: 600px;
            margin: 10px;
            padding: 15px;
            border-left: 8px solid green; 
            background-color: #f8fffe;
            font-weight: bold;
        } 